<a class="grid-item" href="{{url}}" alt="{{name}}" target="_blank">
  <div class="image transition-all"></div>
  <div class="icons">
    {{#if mobile}}
      <img src="assets/iphone.svg" class="icon-mobile" />
    {{/if}}
    {{#if audio}}
      <img src="assets/audio.svg" class="icon-audio" />
    {{/if}}
  </div>
  <div class="day">{{day}}</div>
  <div class="description">{{description}}</div>
  <div class="title">{{name}}</div>
</a>